node_modules
.vscode
yarn.lock
.env
src/database/db.sqlite3

/src/python/palavroes.csv
tmp/*
*.json
*.pkl.z
model.tflearn.data-00000-of-00001
model.tflearn.index
model.tflearn.meta
data.pickle
checkpoint
*.html
*.csv
env
scrapping
*.ipynb
*.pyc
python_files/.ipynb_checkpoints/
python_files/scrapping_scripts/.ipynb_checkpoints/
app.yaml
